@use "../../../styles/veriables.scss";

.gallery {
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 300px));
  justify-content: center;
  justify-items: center;
  grid-gap: 3rem;
  column-gap: 3rem;
  max-width: 1120px;
  padding: 0 2rem;
  margin: 0 auto;

  @include veriables.respond(netbook-min) {
    grid-gap: 1rem;
    column-gap: 1rem;
    grid-template-columns: repeat(2, minmax(100px, 300px));
  }
}

.image {
  position: relative;
  width: 100vw;
  height: 100vw;
  max-width: 300px;
  max-height: 300px;
  cursor: pointer;
  transition: filter 0.3s ease-in-out;

  @include veriables.respond(netbook-min) {
    width: 40vw;
    height: 40vw;
  }

  &:hover {
    filter: brightness(70%);
  }
}
