@use "../../../styles/veriables.scss";

.input {
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  border: 1px solid #eee;
  outline: none;
  font-size: 1.5rem;
  padding: 1rem;
  text-align: center;
  width: 10rem;

  @include veriables.respond(phone) {
    width: 8rem;
  }
}

.input__content {
  width: 10rem;
  @include veriables.respond(phone) {
    width: 8rem;
  }
  position: relative;
}

.input__wrapper {
  outline: none;
}

.quantity__changer {
  font-size: 1.2rem;
  padding: 0.5rem;
  line-height: normal;
  position: absolute;
  cursor: pointer;
  top: 50%;
  outline: none;
  transform: translateY(-50%);
  display: flex;
  align-items: center;

  &:first-of-type {
    left: 5px;
  }
  &:last-of-type {
    right: 5px;
  }
}
