.root {
  position: relative;
  max-width: 100%;
}

.item {
  cursor: pointer;
  margin: 0;
  padding: 0.5rem 0 0.5rem 1rem;
  font-size: 1.4rem;
  font-weight: normal;
  letter-spacing: 0.5px;
  &.active {
    background-color: #f2f3f5;
  }
}

.item:hover {
  background-color: #f2f3f5;
}

.chooseSize {
  display: flex;
  justify-content: space-between;
}

.chooseSizeText {
}

.sizeTableText {
  display: flex;

  text-decoration: underline;
}

.sizeTableButton {
  margin-right: 2rem;
}

.header__option {
  width: 100%;
  max-width: 200px;
  min-width: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 1rem;
  font-size: 1.4rem;
  font-weight: normal;
  border: 1px solid #eee;
}

.subjects {
  position: absolute;
  width: 100%;
  z-index: 10;
  top: 7.5rem;
  background-color: #fff;
  border: 1px solid #999;

  ul {
    padding-left: 0;
    list-style: none;
  }
}

.container {
  position: relative;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
}

.label {
  font-size: 1.6rem;
  margin-bottom: 1rem;
  color: #000;
}
