@use "../../../styles/veriables.scss";

.container {
  max-width: 1440px;
}

.header {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.main {
  display: flex;
  justify-content: center;
  @include veriables.respond(tab) {
    flex-direction: column-reverse;
  }
  gap: 5rem;
}

.list {
  font-size: 1.6rem;
  list-style: none;
  margin-bottom: 4rem;
  li {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem 0;
  }
}

.responsive {
  width: 500px;
  height: 300px;

  @include veriables.respond(phone) {
    width: 100%;
  }
}

.group {
  flex: 1;
}

.form__container {
  flex: 1;
}
