@use "../../../styles/veriables.scss";

.root {
  list-style: none;
}

.product__image {
  position: relative;
  width: 350px;
  height: 350px;

  @include veriables.respond(netbook) {
    width: 300px;
    height: 300px;
  }
}

.association__image {
  position: relative;
  width: 250px;
  height: 250px;

  @include veriables.respond(netbook) {
    width: 250px;
    height: 250px;
  }

  @include veriables.respond(phone-max) {
    width: 200px;
    height: 200px;
  }
}

.product__content {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.product__title {
  padding: 2rem 0;
  font-size: 1.7rem;
  color: #000;
  font-weight: 500;
  text-transform: uppercase;
}

.product__price {
  font-size: 1.4rem;
  color: #a7a7a7;
}

.product__link {
  text-decoration: none;
  position: relative;
}
